<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bounty Hunters</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/Content/logo.jpg" class="navbar-brand" height="75" width="75" />
                @Html.ActionLink("Bounty Hunters", "Index", "Hunter", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Hunter")</li>
                    <li>@Html.ActionLink("Hunter Catalog", "HunterCatalog", "Hunter")</li>
                    @*<li>@Html.ActionLink("Hunter Detail", "HunterDetail", "Hunter")</li>*@
                    @if (@User.IsInRole("Admin"))
                    {

                        <li>@Html.ActionLink("Add Hunter", "AddHunter", "Hunter")</li>
                        <li>@Html.ActionLink("Change Roles", "ViewRoles", "Hunter")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="FOOTER">
            <p>&copy; @DateTime.Now.Year -By: Harrisen Sanchez</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
